.card1 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  background: #fff;

}

.card1 img {
  /* border: 2px solid red; */
  height: 360px;
  width: 40%;
  border-radius: 10px;
}
.card1 .cardContent1 {
  /* border: 1px solid gray; */
  border-radius: 32px;
  /* background: #d2d1d1; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 350px;
  padding: 10px;
}

.cardContent1 h1 {
  margin-top: 0;
  font-size: 30px;
  margin-bottom: 5px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: none;
}
.card1 .cardContent1 p {
  line-height: 1.5;
  /* font-weight: 10; */
  font-size: 15px;
  text-transform: none;
  margin-top: 10px;
}
