.eCardCont {
  /* border: 2px solid red; */
  /* box-sizing: border-box; */
  border-radius: 10px;
  width: 320px;
  background: #fff;
  margin: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* transition: 2s ease-in-out; */

}
.eCardCont img {
  width: 320px;
  height: 250px;
  border-radius: 10px;
  display: block;
}

.eCardCont h1 {
  color: green;
  font-size: 25px;
  padding: 10px;
}
.eCardCont p {
  font-size: 16px;
  text-align: start;
  padding: 10px;
  margin: 0;
  /* opacity: 0; */
 

}

.eCardCont p:hover{

}
.eCardCont p:hover::after {
  content: attr(data-hover);
  cursor: pointer;

}

.eCardCont button {
  border: none;
  background: none;
  padding: 10px;
  font-size: 17px;
}
